body{
	width: 100%;
	min-width: 256px;
	font-size: 16px;
	font-family: 'lato';
	color: #373737;
}

.l-container{
	position: relative;
	padding-bottom: 60px;
}

.l-header{
	width: 100%;
	padding-bottom: 40px;
	overflow: visible;
}

.l-header_logo{
	width: 120px;
}

.l-section, .l-section--blue{
	box-sizing: border-box;
	width: 100%;
}

.l-section--blue{
	position: relative;
	padding: 30px 20px 10px 20px;
	overflow: hidden;
}

.m-main-title{
	font-size: 1.750em; /*28*/
	font-weight: 600;
	color: #09991A;
	margin-bottom: 17px;
}

.m-main-title--desktop{
	display: none;
}

.m-title-underline{
	color: #F9BE06;
	position: relative;
	font-size: 1.375em; /*22*/
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.m-title-underline:before{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 44px;
	height: 2px;
	background-color: #F9BE06;
}

.m-title-video, .m-title-video--comp{
	position: relative;
	padding-left: 40px;
	text-transform: uppercase;
	color: #09991A;
	font-weight: 500;
	font-size: 0.875em; /*14*/
	margin-bottom: 22px;
}

.m-title-video:before, .m-title-video--comp:before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 25px;
	height: 20px;
	background-image: url(../img/video-icon.svg);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.m-title-video--comp:before{
	background-image: url(../img/window-logo.svg);
	height: 21px;
}

.m-title-module{
	font-size: 1.125em; /*18*/
	font-weight: 500;
	margin-bottom: 22px;
}

.m-list{
	padding-left: 14px;
	margin-bottom: 30px;
}

.m-list_item{
	position: relative;
	margin-bottom: 10px;
	font-size: 1em; /*16*/
}

.m-list_item:before{
	content: "";
	position: absolute;
	left: -14px;
	top: 6px;
	display: block;
	width: 6px;
	height: 6px;
	border: 1px solid #F9BE06;
	box-sizing: border-box;
}

.m-link-button{
	bottom: 0;
	display: block;
	margin: 0 auto;
	width: 240px;
	height: 60px;
	background-color: #F9BE06;
	color: #2E2E2E;
	font-size: 1.250em; /*20*/
	font-weight: 500;
	display: flex;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	align-content: center;
	-webkit-box-shadow: 2px 2px 5px -2px rgba(138,138,138,1);
	-moz-box-shadow: 2px 2px 5px -2px rgba(138,138,138,1);
	box-shadow: 2px 2px 5px -2px rgba(138,138,138,1);
}
.m-link-button:visited, .m-link-button:focus{
	background-color: #F9BE06;
	color: #2E2E2E;
}

.m-link-button:hover, .m-link-button:active{
	background-color: #F9BE06;
	color: #2E2E2E;
}

.m-grid{
	display: block;
}
.m-grid_cel{
	width: 100%;
}
.m-back-ground-img{
	display: none;
}

@media(min-width: 513px){
	.l-header_logo{
		width: 180px;
	}
	.m-main-title{
		font-size: 2.250em; /*36*/
	}
	.l-section--blue{
		padding: 40px 32px;
	}
	.m-title-underline{
		font-size: 1.750em; /*28*/
	}
	.m-title-video{
		font-size: 1em; /*16*/
	}
	.m-title-module{
		font-size: 1.750em; /*28*/
	}
	.m-link-button{
		font-size: 1.875em; /*30*/
		width: 450px;
		height: 76px;
		left: 32px;
	}
}

@media(min-width: 990px){

	.m-back-ground-img{
		position: absolute;
		top: 1px;
		right: 80px;
		display: block;
		width: 274px;
		height: 257px;
		background-image: url(../img/laptop.svg);
		z-index: 2;
	}
	.m-main-title{
		display: none;
	}
	.m-main-title--desktop{
		display: block;
		position: absolute;
		top: 20px;
		left: 0;
		font-size: 2.625em;
	}
	.l-section--blue{
		padding: 220px 40px;
		padding-bottom: 40px;
		margin-bottom: 5px;
	}
	.m-link-button{
		width: 500px;
	}
	.m-grid{
		display: flex;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
		-ms-align-items: flex-start;
		align-items: flex-start;
		align-content: space-around;
	}
	.m-grid:after{
		content: "";
		max-width: 30%;
		flex: auto;
	}
	.m-grid_cel{
		width: 30%;
	}
}